body{
    font-family: "Nanum Gothic", sans-serif;
    background-color: azure;
}

#home {
    background: url(../images/brandon-kawamura-j_cUVMmxmIg-unsplash.jpg) bottom center /cover no-repeat;
    min-height: 750px;
    position: relative;
}

#history{
    #sloupec1{
        font-family: "Open Sans", sans-serif;
    }
    #sloupec2{
        font-family: "Tiro Gurmukhi", sans-serif;
    }
}

.carousel-caption{
        background-color: rgba(27, 27, 27, .4);

    }
